.socialLinksWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #002544;
    border-bottom: 1px solid hsla(0, 0%, 87.1%, .149);
    padding: 16px 20px;

    .playStoreWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.followUsWrapper {
    color: #fff;

    .followUsImagesWrapper {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #002544;

        .iconWrapper {
            background: #fff;
            border-radius: 50%;
            padding: 5px;
        }
    }
}